{{template "main" .}}
{{define "title"}}Error{{end}}
{{define "content"}}
    <hgroup>
        <h1><a href="/">ConfigBin</a></h1>
        <h2>{{.Code}}</h2>
    </hgroup>

    <h3>Error: {{.Message}}</h3>
{{end}}
